---
import Layout from '../layouts/Layout.astro';
import SubstackFeed from '../components/SubstackFeed.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="hello there">
	<div class="header-bar">
		<span>
			<span><a href="/">&#62;	&#36; hello world!&nbsp;</a></span>
			<span class="blinking-cursor"></span>
		</span>
		<span>
			<a href="https://threejackdaws.substack.com">substack</a>
		</span>
	</div>

	<main>
		<div class="flexrow background-gray">
			<img class="pfp" src="yuqi.jpeg">
			<div class="flexcolumn">
				<div class="text-large">alex xu</div>
				<div class="emphasis-low text-small">masquerading as a sentient being since 2001&trade;</div>
			</div>
		</div>
		<div class="main-content">
			<AboutMe></AboutMe>
			<SubstackFeed></SubstackFeed>
		</div>
	</main>
</Layout>

<script src="/src/scripts/resize.ts"></script>
  
<style>
	main {
		margin: auto;
		max-width: calc(90% - 0rem);
		min-width: 70%;
		color: black;
		font-size: 1.25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		visibility: hidden;
		/* align-items: center; */
	}
	.header-bar {
		display: absolute;
		padding: 1.2rem;
		background-color: gainsboro;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-bar span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.main-content {
		/* visibility: hidden; */
		/* max-width: calc(80% - 12rem); */
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		margin-left: 5rem;
		margin-right: 5rem;
		/* margin: auto; */
		/* position: relative; */
		gap: 1rem;
	}
	@keyframes blink {
		0%, 100% {
			opacity: 1;
			color: transparent;
		}
		50% {
			opacity: 1;
			background-color: gold;
		}
	}
	.blinking-cursor::after {
		content: '_';
		display: inline-block;
		animation: blink 1s infinite;
	}
	.pfp {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		object-fit: cover;
	}
	.flexrow {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 1rem;
		/* max-width:40%;	 */
	}
	.flexcolumn {
		display: flex;
		flex-direction: column;
		align-items: left;
		margin: 1rem;
	}
	.text-large {
		font-size:1.5rem;
		font-weight: bold;
	}
	.background-gray {
		/* padding: .3rem; */
		/* background-color: gainsboro; */
		/* margin: auto; */
	}
	.emphasis-low {
		color: black;
		opacity: 0.6;
	}
	.text-small {
		font-size: smaller;
	}

</style>
