---

---

<div id="intro">
  <p style="white-space:pre-wrap; margin-bottom:10px">
    <p>
      Hi, I'm Alex :) Welcome to my digital garden, where I immortalize all the
      little things I write and build.
    </p>
    <br />
    <p>
      Some things I've worked on:
      <ul>
        <li>(wip) rebuilding Reddit's ad hydration pipeline</li>
        <li>(wip) making Reddit saves better</li>
        <li>
          improved ad click behavior on Reddit's web platforms, increasing total
          revenue by 3%
        </li>
        <li>an internal Slack chatbot for Reddit, built with Llama2</li>
        <li>a more aesthetic and engaging Reddit gallery</li>
      </ul>
    </p>
    <br />
    <p>
      and some things I worked on a little less seriously:
      <ul>
        <li>
          UC Berkeley's college Valorant broadcast<sup
            ><a href="https://www.twitch.tv/videos/1810992466">1</a>,<a
              href="https://www.twitch.tv/videos/1810767204">2</a
            ></sup
          >
        </li>
        <li>
          <a href="https://github.com/mraheja/DubMyProfessor">DubMyProfessor</a>
        </li>
        <li>
          <a href="https://github.com/mraheja/quicktiks">QuickTiks</a><sup
            ><a href="https://www.youtube.com/watch?v=jWAk5QTNNZQ"
              >(video demo)</a
            ></sup
          >
        </li>
      </ul>
    </p>
    <br />
    <p>
      I'm currently at Reddit shitposting professionally. While we're on the
      topic of shitposts, <br />you can find some of my writing at <a
        href="https://threejackdaws.substack.com">threejackdaws.substack.com</a
      >
    </p>
  </p>
  <style>
    ul {
      list-style: disc;
      margin-left: 20px;
    }
    p {
      /* text-transform: lowercase; */
      /* margin-bottom: 1rem; */
    }
    a {
      text-decoration: underline;
      text-decoration-color: var(--accent);
    }
    a:is(:hover) {
      color: var(accent);
      text-decoration-color: black;
    }
  </style>
</div>
