---
const shitposts1 = `Speaking of shitposts, you can find my (occasionally) original thoughts at `
---
<div id="intro">
    <!-- <p style="white-space:pre-wrap; margin-bottom:10px"> -->
    <p>Hi, I'm Alex :) Welcome to my digital garden, where I immortalize all the irrelevant things I write and build.</p>
    <p>Some things I've worked on:
        <ul>
            <li>An internal Slack AI for Reddit, built with Llama 2</li>
            <li>wip</li>
            <li>wip</li>
            <li>wip</li>
        </ul>
    </p>
    <p>
        and some things I worked on a little less seriously:
        <ul>
            <li>UC Berkeley's college Valorant broadcast<sup><a href="https://www.twitch.tv/videos/1810992466">1</a>,<a href="https://www.twitch.tv/videos/1810767204">2</a></sup></li>
            <li><a href="https://github.com/mraheja/DubMyProfessor">DubMyProfessor</a></li>
            <li><a href="https://github.com/mraheja/quicktiks">QuickTiks</a><sup><a href="https://www.youtube.com/watch?v=jWAk5QTNNZQ">(video demo)</a></sup></li>
        </ul>
    </p>
    <p>I'm currently at Reddit shitposting professionally. While we're on the topic of shitposts, you can find some of my writing at <a href="https://threejackdaws.substack.com">threejackdaws.substack.com</a>
    </p>
</div>
<style>
    ul {
        list-style:disc;
        margin-left:20px;
    }
    p {
        text-transform: lowercase;
        margin-top:10px;
        margin-bottom:10px;
    }
    a {
        text-decoration: underline;
        text-decoration-color: rgb(var(--accent));
    }
    a:is(:hover) {
        color: rgb(var(accent));
        text-decoration-color: black;
    }
    #intro {
        text-transform: lowercase;
        /* max-width: 100px; */
    }
</style>