---

---

<span>
  <span><a href="/">&#62; &#36; hello world&nbsp;</a></span>
  <span class="blinking-cursor"></span>
</span>

<style>
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
      color: transparent;
    }
    50% {
      opacity: 1;
      background-color: var(--accent-cursor);
    }
  }
  .blinking-cursor::after {
    content: "_";
    display: inline-block;
    animation: blink 1s infinite;
  }
</style>
