<div class="header-bar">
  <span>
    <span><a href="/">&#62; &#36; hello world!&nbsp;</a></span>
    <span class="blinking-cursor"></span>
  </span>
  <span>
    <div class="right-header-bar">
      <!-- <span><a href="/bigtext">bigtext</a></span> -->
      <span><a href="/qotd">QOTD</a></span>
      <a href="https://threejackdaws.substack.com">Substack</a>
      <!-- <span>
        <span id="jade-square" style="color:#88be9e">&#9724;&#xfe0e;&nbsp;</span
        >
        <span id="gold-square" style="color:#FFE77A">&#9724;&#xfe0e;</span>
      </span> -->
    </div>
  </span>
</div>

<script>
  const jadeTheme = new Map([
    ["--theme", "jade"],
    ["--accent", "#bddaca"],
    ["--accent-light", "#d7e9de"],
    ["--accent-header", "#d7e9de"],
    ["--accent-slightly-lighter", "#c7e0d1"],
    ["--accent-slightly-darker", "#88be9e"],
    ["--accent-cursor", "white"],
    ["--accent-dark", "#569e74"],
  ]);
  const goldTheme = new Map([
    ["--theme", "gold"],
    // convert rgb values to Hex values
    ["--accent", "#FFE77A"],
    ["--accent-header", "gainsboro"],
    ["--accent-light", "#FFF0A0"],
    ["--accent-slightly-darker", "#FFE671"],
    ["--accent-cursor", "#FFC971"],
    ["--accent-dark", "#FFD30E"],
  ]);
  const jadeSquare = document.querySelector("#jade-square");
  jadeSquare?.addEventListener("click", () => {
    setJade();
  });

  const goldSquare = document.querySelector("#gold-square");
  goldSquare?.addEventListener("click", () => {
    setGold();
  });

  function setJade() {
    console.log("swapped theme to jade");
    var r = document.querySelector(":root") as HTMLElement;
    jadeTheme.forEach((values, vars) => {
      r.style.setProperty(vars, values);
    });
  }

  function setGold() {
    console.log("swapped theme to gold");
    var r = document.querySelector(":root") as HTMLElement;
    goldTheme.forEach((values, vars) => {
      r.style.setProperty(vars, values);
    });
  }
</script>

<style>
  .header-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: absolute;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* padding-top: 1.2rem; */
    /* background-color: gainsboro; */
    /* background-color: var(--accent-header); */
    /* border: darkgray;
    border: var(--accent-light);
    border-bottom-style: solid;
    border-bottom-width: 1px; */
    background-color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    opacity: 0.95;
    text-transform: lowercase;
  }
  @media screen and (min-width: 636px) {
    .header-bar {
      font-size: medium;
    }
  }
  .header-bar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
  }
  .header-bar span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .right-header-bar {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
      color: transparent;
    }
    50% {
      opacity: 1;
      /* background-color: rgb(var(--accent-slightly-darker)); */
      background-color: var(--accent-cursor);
    }
  }
  .blinking-cursor::after {
    content: "_";
    display: inline-block;
    animation: blink 1s infinite;
  }
</style>
