---
import CenteredHeaderBar from "../components/CenteredHeaderBar.astro";
// import HeaderBar from "../components/HeaderBar.astro";
import Trail from "../components/Trail.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffe77a" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <HeaderBar /> -->
    <CenteredHeaderBar />
    <main>
      <slot />
    </main>
  </body>
  <Trail />

  <style is:global>
    :root {
      --theme: "gold";
      --accent: #ffe77a;
      --accent-light: #fff0a0;
      --accent-header: gainsboro;
      --accent-dark: #ffe671;
      --accent-darker: #ffd30e;
      --accent-cursor: #ffe671;
      --accent-gradient: linear-gradient(
        45deg,
        var(--accent),
        var(--accent-light),
        white 90%
      );
      --content-width: 780px;
      --content-width-small: 560px;
      --content-width-medium: 700px;
      --trail-color: var(--accent);
    }

    /* :root {
      --theme: "jade";
      --accent: #bddaca;
      --accent-lighter: #d7e9de;
      --accent-header: #d7e9de;
      --accent-light: #c7e0d1;
      --accent-dark: #88be9e;
      --accent-darker: #569e74;
      --accent-cursor: var(--accent);
      --accent-contrast: #ff3e5f96;
      --accent-gradient: linear-gradient(
        45deg,
        var(--accent-dark),
        var(--accent-light),
        white 90%
      );
      --trail-color: #e7647a;
    } */
    html {
      font-family: georgia, "times new roman", serif;
      /* font-family: system-ui, sans-serif; */
      line-height: 1.7rem;
      /* line-height: 28px; */
      /* font-size: 18px; */
      background: white;
      background-size: 224px;
      height: 100%;
    }
    /* code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    } */
    svg.trail {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      pointer-events: none;
    }
    svg.trail path {
      fill: none;
      stroke: var(--trail-color);
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      pointer-events: none;
    }
    /* TODO: come back and fix this shit. This also does not belong in Layout, should be in Main. */
    main {
      margin: 16px;
      min-width: 70%;
      color: black;
      font-size: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      visibility: visible;
      position: relative;
      height: calc(100% - 3rem);
    }
    @media screen and (min-width: 636px) {
      main {
        margin: auto;
      }
      .text-large {
        font-size: x-large;
        font-weight: bold;
      }
      .text-small {
        font-size: medium;
      }
    }
    @media screen and (min-width: 1236px) {
      main {
        max-width: 65%;
      }
    }
  </style>
</html>
